* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
}

/* inizio header */
header {
  background-color: #191970;
  height: 400px;
  background-image: url(../img/fluentify-jumbo.png);
  background-size: 800px 300px;
  background-repeat: no-repeat;
  background-position: 105% 100%;
}



.centratura {
  padding: 10px 70px;
}

nav {
  height: 60px;
}

/* regole per float */
nav::after {
  content: "";
  display: table;
  clear: both;
}
/*  */

.title-page h1 {
  color: white;
}

.title-page {
  margin-top: 60px;
}

.link-container {
  float: left;
}

.title-logo {
  width: 10%;
}


.link-list {
  width: 30%;
  line-height: 60px;
  text-align: center;
}

.link-list ul, .link-list li {
  display: inline-block;
}

.link-list li {
  margin-left: 10px;
}

.link-list ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.login {
  width: 60%;
  line-height: 60px;
  text-align: center;
}

.login a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

#login-button {
  font-size: 20px;
  background-color: inherit;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

#struttura-button {
  font-size: 20px;
  color: white;
  background-color: green;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.login a, .login button {
  margin-left: 10px;
}

/*  */

/* inizio main */

/* prima parte main */
.testo-centrato {
  background-color: lightgrey;
  height: 100px;
  position: relative;
}


.text-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-container span {
  color: rgba(0, 0, 0, 0.5);
}
/* / */

/* seconda parte main */
.main-container.up {
  /* border-bottom: 1px solid grey; */
  /* debug */
  /* background-color: green; */
  border-bottom: 1px solid black;
}

/* regole contenitore per float */
.main-container::after {
  content: "";
  display: table;
  clear: both;
}
/*  */

.block {
  float: left;
  height: 100%;
  width: calc(100% / 3);
  /* debug */
}

.image {
  text-align: center;
}

.image img {
  width: 100px;
}


.left h2 {
  text-align: center;
  margin: 20px 0;
}

.left p {
  text-align: center;
}

.middle h2 {
  text-align: center;
  margin: 20px 0;

}


.middle p {
  text-align: center;
}

.right h2 {
  text-align: center;
  margin: 20px 0;

}


.right p {
  text-align: center;
}


/* /fine seconda parte main */

.down {
  height: 400px;
}

.block-down {
  float: left;
  height: 100%;
  width: calc(100% / 2);
  /* debug */
  background-color: pink;
  border: 1px solid black;
}
